# =============================
# Email config

# For development or quick testing use console as the email backend
# EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
# For production use smtp, uncomment the below variable
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_FROM_ADDRESS="SkyLearn varundev.bytes@gmail.com"
EMAIL_HOST_USER="varundev.bytes@gmail.com"
EMAIL_HOST_PASSWORD="V@run#333"

# =============================
# Other

DEBUG=True
SECRET_KEY="ai5y39oidrm-j345_#ynlc33qfp!q)fqm+i7ntc4go=112v3@h"